// COLORS

$color-primary: #607f85;
$color-secondary: #ccc;

$color-link: #ff9d55;

$white: #fff;
$catskill-white: #f5f8fa;
$alabaster: #f9f9f9;
$selago: #f2f7fe;
$gainsboro: #e0e0e0;
$gallery: #ededed;
$alto: #d3d3d3;
$nobel: #b4b4b4;
$dove-gray: #727272;
$abbey: #4c5153;
$mine-shaft: #222121;
$black: #000;

$red-ribbon: #d6083b;

$linen: #fcf0ec;
$trinidad: #e55302;
$rockspray: #c54b07;
$tia-maria: #d73e0f;

$sunglow: #ffc82e;

$pastel-green: #58de79;
$apple: #4e9d2d;
$forest-green: #3e7e24;