// Variables
$grid-breakpoints: (
  xs: 0,
  mobile: 576px,
  tablet: 768px,
  desktop: 992px,
  xl: 1200px,
);

// SCREEN SIZES
$screen-standard: 1366px;
$screen-tablet: 1024px;
$screen-between: 768px;
$screen-phone: 480px;
$screen-smallphone: 375px;

$screen-extrawide: 1600px;
$screen-wide: 1366px;
$screen-desktop: 1024px;
$screen-tablet: 768px;
$screen-mobile: 480px;
$screen-xs: 375px;

$layout-padding-horizontal-desktop: 60px;
$layout-padding-horizontal-tablet: 42px;
$layout-padding-horizontal-mobile: 15px;
$navbar-width: 280px;

$header-desktop-height: 80px;
$header-tablet-height: 58px;

$footer-height: 45px;

// Mixins
@mixin container-wide() {
  padding: 30px 60px;

  @include media-breakpoint-down(tablet) {
    padding: 5px 20px;
  }

  @include media-breakpoint-down(mobile) {
    padding: 5px 10px;
  }
}

@mixin container-narrow($top: 30px, $bottom: 30px, $right: 180px) {
  padding: $top $right $bottom 180px;

  @include media-breakpoint-down(desktop) {
    padding: $top 20px $bottom;
  }

  @include media-breakpoint-down(tablet) {
    padding: 0 20px $bottom;
  }

  @include media-breakpoint-down(mobile) {
    padding: 0 10px $bottom;
  }
}
