// Font weights downloaded with Open Sans
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$card-font-size: 14px;
$card-font-size-small: 11px;

// String constants
$percent: '%';
$empty: '';

// Mixins
@mixin form-heading() {
  font-size: 14px;
  font-weight: $font-weight-semibold;
}
