@import '../../styles/base';
$timeout: 300ms;

.example {
    opacity: 0.01;

	&.enter {
		opacity: 0.01;
		}
	&.enterActive {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&.enterDone {
        opacity: 1;
        // color: red;
		}
  
	&.exit {
		opacity: 1;
		}
	&.exitActive {
		opacity: 0.01;
		transition: opacity $timeout ease-in;
		}

	&.appear {
		opacity: 0.01;
		}
	&.appearActive {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&.appearDone {
		opacity: 1;
		}
	

		
	&-enter {
		opacity: 0.01;
		}
	&-enter-active {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&-enter-done {
		opacity: 1;
		}
	
	&-exit {
		opacity: 1;
		}
	&-exit-active {
		opacity: 0.01;
		transition: opacity $timeout ease-in;
		}

	&-appear {
		opacity: 0.01;
		}
	&-appear-active {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&-appear-done {
		opacity: 1;
		}
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}
img.large {
	width: 100%;
	// max-height: 600px;
}
.caroselCaption {
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: auto !important;
	padding: 10px;
	text-align: left !important;
	background: rgba(0, 0, 0, 0.85);

	h3 {
		margin: 0 0 5px !important;
		font-size: 16px !important;
	}
	p {
		margin: 0 !important;
		font-size: 16px !important;
	}
}
:global {
	.modal-content {
		background: rgba(51, 51, 51, 0.8) !important;
	}
}