@import '../styles/base';

.topnav {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    // margin: 20px 0 30px;
    padding: 8px 0;
    height: 60px;
    background: $color-hilite;
    z-index: 2000;
    transition: all $transition ease;

    @include breakpoint-up(tablet) {
        left: 0;
        top: 15px;
        bottom: auto;
        // margin: 30px 0 50px;
        background: transparent;
        }
    
    .row {
        .email {
            text-align: center;

            @include breakpoint-up(tablet) {
                text-align: left;
            }
        }
        .col {
            text-align: center;

            @include breakpoint-up(tablet) {
                text-align: right;
            }
        }
    }
    a {
        display: inline-block;
        height: 44px;
        color: $color-white !important;
        font-weight: 900;
        line-height: 44px;
        text-transform: uppercase;

        @include breakpoint-up(tablet) {
            font-weight: 300;
            color: $color-link !important;
        }

        &.email {
            width: 44px;
            span {
                display: none;
            }
            // .fa-envelope {

            // }
        }
    }
    
}

:global {
    .col-5,
    .col-sm-4 {
        // flex: 0 0 41.666667% !important;
        // max-width: 41.666667% !important;
        width: auto !important;
    }

    .scrolled {
        @include breakpoint-up(tablet) {
            top: 0;
            background: rgba(0, 0, 0, 0.85);
        }
    }
}