@import '../styles/base';

.topnav {
    margin: 20px 0 30px;

    @include breakpoint-up(tablet) {
		margin: 30px 0 50px;
        }
    
    .row {
        .col {
            text-align: right;
        }
    }
}