@import '../styles/base';

$timeout: 300ms;

.example {
    opacity: 0.01;

	&.enter {
		opacity: 0.01;
		}
	&.enterActive {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&.enterDone {
        opacity: 1;
        // color: red;
		}
  
	&.exit {
		opacity: 1;
		}
	&.exitActive {
		opacity: 0.01;
		transition: opacity $timeout ease-in;
		}

	&.appear {
		opacity: 0.01;
		}
	&.appearActive {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&.appearDone {
		opacity: 1;
		}
	

		
	&-enter {
		opacity: 0.01;
		}
	&-enter-active {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&-enter-done {
		opacity: 1;
		}
	
	&-exit {
		opacity: 1;
		}
	&-exit-active {
		opacity: 0.01;
		transition: opacity $timeout ease-in;
		}

	&-appear {
		opacity: 0.01;
		}
	&-appear-active {
		opacity: 1;
		transition: opacity $timeout ease-in;
		}
	&-appear-done {
		opacity: 1;
		}
}