.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 40px;
    background: #212121 url(./img/background.jpg) no-repeat center left !important;
    background-size: cover !important;
    z-index: 0;
}