// @import-normalize;
@import './styles/base';

#root {
  // display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #212121 url(img/background.jpg) no-repeat center left !important;
  background-size: cover !important;
  // justify-content: center;
  // align-items: center;
}
html, body {
  height: 100% !important;
}
body {
  position: relative;
  margin: 0;
  font-family: 'Montserrat', 'Arial', sans-serif !important;
  font-size: 18px !important;
  font-weight: 300;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
a {
  color: $color-link !important;
}